<!--Modal-->
<div class="container mt-5" id="main-container">
  <!-- Boton para abrir el modal -->
  <button type="button" class="btn btn-outline-light" (click)="abrirModal('add')">
    Agregar Proyecto
  </button>

</div>

<!-- Modal para agregar un nuevo proyecto-->
<div class="modal fade" id="guardarProyectoModal" tabindex="-1" aria-labelledby="guardarProyectoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guardarProyectoModalLabel" style="color: black;">Agregar Proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body" style="color: black;">
        <form #guardarForm="ngForm" (ngSubmit)="guardarProyecto(guardarForm)">
          <div class="form-group">
            <label for="nombreProy">Nombre</label>
            <input type="text" ngModel name="nombreProy" class="form-control" id="nombreProy" placeholder="Nombre"
              required>
          </div>
          <div class="form-group">
            <label for="descripcionProy">Descripción</label>
            <textarea ngModel name="descripcionProy" class="form-control" required name="descripcionProy" id="descripcionProy" cols="30" rows="10">Descripcion</textarea>
          </div>
          <div class="form-group">
            <label for="fechaProy">Fecha</label>
            <input type="text" ngModel name="fechaProy" class="form-control" id="fechaProy" placeholder="Fecha"
              required>
          </div>
          <div class="form-group">
            <label for="linkProy">Link</label>
            <input type="text" ngModel name="linkProy" class="form-control" id="linkProy" placeholder="Link" required>
          </div>
          <div class="form-group">
            <label for="imgProy">Imagen</label>
            <input type="text" ngModel name="imgProy" class="form-control" id="imgProy" placeholder="Imagen URL"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="guardar-proyecto-form" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="guardarForm.invalid">
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal para editar un nuevo proyecto-->
<div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-labelledby="editarProyectoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarProyectoModalLabel" style="color: black;">Editar proyecto
          {{editarProyecto?.nombreProy}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body" style="color: black;">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombreProy">Nombre</label>
            <input type="text" ngModel="{{editarProyecto?.nombreProy}}" name="nombreProy" class="form-control"
              id="nombreProy" placeholder="Nombre" aria-describedby="emailHelp">
          </div>
          <input type="hidden" ngModel="{{editarProyecto?.idProy}}" name="idProy" class="form-control" id="idProy"
            placeholder="">
          <div class="form-group">
            <label for="descripcionProy">Descripción</label>
            <textarea ngModel="{{editarProyecto?.descripcionProy}}" name="descripcionProy" id="descripcionProy" cols="30" rows="5" class="form-control">Descripcion</textarea>
          </div>
          <div class="form-group">
            <label for="fechaProy">Fecha</label>
            <input type="text" ngModel="{{editarProyecto?.fechaProy}}" name="fechaProy" class="form-control"
              id="fechaProy" placeholder="Fecha">
          </div>
          <div class="form-group">
            <label for="linkProy">Link</label>
            <input type="text" ngModel="{{editarProyecto?.linkProy}}" name="linkProy" class="form-control" id="linkProy"
              placeholder="Link">
          </div>
          <div class="form-group">
            <label for="imgProy">Imagen</label>
            <input type="text" ngModel="{{editarProyecto?.imgProy}}" name="imgProy" class="form-control" id="imgProy"
              placeholder="Imagen URL">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button (click)="actualizarProeycto(editForm.value)" class="btn btn-primary" data-bs-dismiss="modal">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal para borrar un nuevo proyecto-->
<div class="modal fade" id="borrarProyectoModal" tabindex="-1" aria-labelledby="borrarProyectoModalLabel"
  aria-hidden="true" data-bs-target="#borrarProyectoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarProyectoModalLabel" style="color: black;">Borrar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body" style="color: black;">
        <p>
          Estas seguro de que quieres eliminar?
          {{borrarProyecto?.nombreProy}}
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button (click)="borrarUnProyecto(borrarProyecto!.idProy)" class="btn btn-danger" data-bs-dismiss="modal">
          Si
        </button>
      </div>
    </div>
  </div>
</div>



<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4 col-10  columnaImagen" *ngFor="let proy of proyecto">
      <img src="{{proy.imgProy}}" class="img-fluid card-img" alt="Imagen proyecto">
      <h5 style="position:absolute; top:1em; left: 1.6em;" class="card-title textoborde">{{proy.nombreProy}}</h5>
      <p style="position:absolute; top:2.4em; left: 2em;" class="card-text textoborde">{{proy.fechaProy}}</p>
      <p style="position:absolute; top:3.8em; left: 2em;" class="card-text textoborde">{{proy.descripcionProy}}</p>

      <a href="{{proy.linkProy}}" class=" btn btn-outline-light"
        style="position:absolute; bottom:1.5em; left: 2em;">Ver</a>
      <div class="card-text icono " style="position:absolute; bottom:1.5em; right: 2em;">
        <a title="Editar" class="btn " data-bs-toggle="tooltip" data-bs-placement="bottom"
          (click)="abrirModal('edit',proy)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg>
        </a>
        <a title="Borrar" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" (click)="abrirModal('delete',proy)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
