<div class="container">
  <ul class="nav justify-content-center colorbutton navegacion justify-content-lg-end">
    <li class="nav-item me-3">

      <a href="https://www.instagram.com/heyfil5" class="nav-link"><img src="../../../assets/instagram.png" class="iconredes" alt="instagram"></a>
    </li>
    <li class="nav-item">

      <a href="https://www.linkedin.com/in/felipe-hernan-burgos" class="nav-link"><img src="../../../assets/linkedin.png" class="iconredes" alt="linkedin"></a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/felipe-hernan" class="nav-link"><img src="../../../assets/github.png" class="iconredes" alt="github"></a>
    </li>
    <li class="nav-item me-3">
      <a href="https://www.twitter.com/felipexyou" class="nav-link"><img src="../../../assets/twitter.png" class="iconredes" alt="twiter"></a>
    </li>
    <li class="nav-item botonposicion me-1">
      <button type="button" class="btn btn-outline-light letraboton" >Entrar</button>
    </li>
  </ul>
  <ul class="nav justify-content-center ">
    <li class="nav-item">
      <img src="../../../assets/APLogo.png" class="imagprograma" alt="logoAp">

    </li>
    <li class="nav-item">
      <p class="yoprogramo"><strong>#YoProgramo</strong></p>

    </li>
  </ul>

</div>
